.about-container {
  flex: 1;
  padding: 60px 20px;
  background-color: #52a5ba;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(186, 178, 178);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 30px;
  text-align: center;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

.about-text p:last-child {
  margin-bottom: 0;
}