 body {
            background-color: #e5e7ea;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
            margin: 20px;
        }

        a {
            color: #0066cc;
            font-size: 18px;
            text-decoration: none;
        }

        a:hover {
            color: #b537a8;
            text-decoration: underline;
        }

        table {
            margin-top: 20px;
            margin-left: 20px;
            border-collapse: collapse;
            background-color: #ffffff;
        }

        th {
            background-color: #2d9f70a8;
            color: white;
            padding: 10px;
            font-size: 16px;
        }

        td {
            padding: 8px 12px;
            font-size: 15px;
            text-align: center;
        }

        table, th, td {
            border: 2px solid #444;
        }