body {
  background-color: aqua;
}

.app-container {
  min-height: 100vh;
  padding: 20px;
}

.app-header {
  text-align: center;
  background-color: #4a90e2;
  color: rgb(247, 244, 244);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.app-header p {
  font-size: 18px;
  opacity: 0.9;
}
