
  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
      }

  body {
            font-family: Arial, sans-serif;
        background-color: #f4f4f4;
            padding: 20px;
        }

    header {
            text-align: center;
            margin-bottom: 30px;
            background-color: #89b300;
        }

     h1 {
            color: #fcf7f7;
            font-size: 32px;
        }

    main {
            max-width: 1200px;
            margin: 0 auto;
        }

   .product-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        article {
            background-color: rgb(226, 224, 224);
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
        }

        .product-image {
            width: 100%;
            height: 250px;
            background-color: #ebefe6;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .product-image img {
            width: 100%;
            height: 100%;
       
        }

        .product-content {
            padding: 15px;
        }

        h2 {
            color: #333;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .product-description {
            color: #666;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 15px;
        }

        .price {
            color: #3728a7;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
           
        }

        .btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            width: 100%;
        }

        .btn:hover {
            background-color: #b39200;
        }

        @media (max-width: 1024px) {
            .product-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 640px) {
            .product-grid {
                grid-template-columns: 1fr;
            }
            
            h1 {
                font-size: 24px;
            }
        }